.cRecPointerSelected {
     background-image: url(icons/cTriangleRightBlack.png); 
     background-size: 35px 35px;
    background-repeat: no-repeat;  
 }
button[id$="_recordPointer_new"] {
  background-image: url(icons/cStarBlack.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;   
}
.cButtonMiddle   {
    width: 40px;
    height: 40px;
}
.cSave {
  background-image: url(icons/cSave.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;   
    
}
.cDelete {
  background-image: url(icons/cDelete.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;   
    
}
.dataformHead {
    display: flex;
    flex-direction: column;
}
.DataFormHeadHeadline {
    display: flex
}
.cRecordPointer  {
    position: relative;
    top: 7px;
}
.dataformPagination {
    heigth: 40px;
    margin-top: 8px;
}
.dataformPagination>a {
  display: inline-block; /* Allows setting width/height and padding */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Indicate it's clickable */
  font-family: sans-serif; /* Choose a suitable font */
  font-size: 16px; /* Adjust font size */
  text-align: center; /* Center text horizontally */
  line-height: normal; /* Ensure text aligns correctly */    
}