body {
    margin: 0.5em 1em 1em 1em;
}
.cNumber {
    width: 35px;
}
input[id="df_id"] {
    display: none;
}
[id^="df1_id_"] {
    display: none;
}
[id^="df2_id_new"] {
    display: none;
}
[id^="df2_hl_id"], [id^="df2_id_"] {
    display: none;
}
[id^="df2_hl_recordPointer"] {
    width:40px !important;
}

[id^="df2_hl_ue_zuweisung_schueler_id"], [id^="df2_ue_zuweisung_schueler_id_new"], [id^="df2_ue_zuweisung_schueler_id_"] {
    width:73px !important;
}
#Df_2_head>div {
    width: 41px
}
#Df_2 {
    position: relative;
    top: 20px;
}
legend {
    position: relative;
    top: 60px
}
#df2_TmpSetSelect {
    width: 260px;
    height: 250px;   
}
#df2_hl_val_emotions {
    width: 130px !important
}
[id^="df2_val_emotions_"] {
    position: relative;
    /*top: 11px;*/
}
 {
    width:100px !important;
}
[id^="df2_erfasst_am_new"], [id^="df2_hl_erfasst_am"], [id^="df2_erfasst_am_"] {
    width:100px !important;
}
